body {
    background-color: #c7c7bb;
}

.employee {
    margin: auto;
    margin-top: 2rem;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

}

.card-body {
    background-color: #e3e4e0;
}

.container-fluid {
    background-color: #af9f8c;
}

.jumbotron {
    background-color: #7f867b;
    color: white;
    text-shadow: 2px 2px #333333;
}